body{
    height: 100%;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.corpo{
    background-image: url("../IMG/header_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.informacao{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagemUnip{
    width: 164px;
    height: 51px;
}
.titulo{
    color: white;
    text-align: center;
    margin-top: 2%;
}
.informandoNP1,
.informandoNP2 {
    color: white;
    font-size: 20px;
    padding-top: 1%;
}
.informandoNota,
.informandoNota2,
.informandoNota3 {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 1%;
}
.Botao{
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: max-content;
    margin-top: 1%;
}
.Botao2{
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: -0.5%;
}
.informacao1{
    color: white;
    font-size: 20px;
}
.informacao2{
    color: white;
    font-size: 20px;
    margin-top: 1%;
}
.informacao3{
    color: white;
    font-size: 20px;
    margin-top: 1%;
}

@media screen and (max-width: 414px) {
    .titulo{
        margin-top: 5%;
    }
    .informandoNota{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota2{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota3{
        width: 20.8%;
        margin-top: 5%;
    }
    .Botao {
        padding: 5px;
        width: 30.5%;
        margin-top: 5%;
    }
    .Botao2{
        padding: 5px;
        width: 30.5%;
        margin-top: 5%;
    }
    .informacao1{
        margin-left: 10%;
    }
    .informacao2{
        margin-left: 10%;
        margin-top: 5%
    }
    .informacao3{
        margin-left: 15%;
    }
}

@media screen and (max-width: 390px) {
    .informacao1{
        margin-left: 7%;
    }
    .informacao2{
        margin-left: 9%;
        margin-top: 5%
    }
    .informacao3{
        margin-left: 12%;
    }
}

@media screen and (max-width: 375px) {
    .informandoNota{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota2{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota3{
        width: 20.8%;
        margin-top: 5%;
    }
    .informacao1{
        margin-left: 6%;
    }
    .informacao2{
        margin-left: 7%;
        margin-top: 5%
    }
    .informacao3{
        margin-left: 10%;
    }
}

@media screen and (max-width: 320px) {
    .informandoNota{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota2{
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-top: 5%;
    }
    .informandoNota3{
        width: 20.8%;
        margin-top: 5%;
    }
    .informacao1{
        font-size: 17px;
        margin-left: 5%;
    }
    .informacao2{
        margin-left: 6%;
        margin-top: 5%
    }
    .informacao3{
        margin-left: 10%;
    }
}
